<!DOCTYPE html>
<html>
    <head>
        <title>jQuery Mobile Application</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="//code.jquery.com/mobile/1.4.1/jquery.mobile-1.4.1.min.css" />
        <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
        <script src="//code.jquery.com/mobile/1.4.1/jquery.mobile-1.4.1.min.js"></script>
        <script src="{% static '/static/mobile/js/index.js' %}"></script>
    </head>
    <body>
        <div data-role="page" id="signin">
            <div data-role="header"><h1>ReLive</h1></div>

            <div data-role="main" class="ui-content" id="index-content" data-vertical-centred align="center">
                <form id="signin-form" action="http://localhost:8000/api-auth/login/" method="post" data-ajax="false">
                    {% csrf_token %}
                    <input type="text" name="username" id="username" placeholder="Username" />
                    <input type="password" name="password" id="password" placeholder="Password" />
                    <button type="submit" id="signin-form-submit" data-theme="a">Signin</button>
                </form>
                <a href="#signup">New User? Register.</a>
            </div>

            <div data-role="footer" data-position="fixed"><h1>&copy; Harshul Jain</h1></div>
        </div>

        <div data-role="page" id="home">
            <div data-role="header"><h1>The Next Big Thing</h1><a href="#" class="ui-btn-right">Logout</a> </div>
            <div data-role="main" class="ui-content" id="index-content" data-vertical-centred align="center">
                <p id="home-data"></p>
            </div>
            <div data-role="footer" data-position="fixed"><h1>&copy; Harshul Jain</h1></div>
        </div>

    </body>
</html>

<form>{% csrf_token %}</form>
